<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h1>Welcome to the Restaurants of Multiverse!</h1>
        {{{body}}}
    </body>
</html>