<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheets" href="styles.css" />
    </head>
    <body>
        <h1>Welcome to the Restaurants of Multiverse!</h1>
        {{{body}}}
    </body>
</html>