<form action="/new-restaurant" method="post">
    <label for="name">New Restaurant name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image" required><br><br>
    <button>Submit new restaurant!</button>
</form>